@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --gray-dark: #4f4f4f;
  --gray-medium: #828282;
  --gray-light: #bdbdbd;
  --gray-lighter: #f2f2f2;
  --blue-dark: #2f80ed;
  --blue-medium: #97bef4;
  --blue-light: #f6f8fb;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(400%);
  }
}

.image-uploader {
  width: 400px;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.image-uploader-check-icon {
  width: 40px;
  display: block;
  margin: 0 auto 10px;
}

.image-uploader-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray-dark);
  margin-bottom: 20px;
}

.image-uploader-title.align-left {
  text-align: left;
}

.image-uploader-loading-bar {
  height: 6px;
  border-radius: 3px;
  background: var(--gray-lighter);
  overflow: hidden;
}

.image-uploader-loading-slider {
  height: 6px;
  border-radius: 3px;
  width: 25%;
  background: var(--blue-dark);
  transform: translateX(-100%);
  animation: 2s linear infinite slideInRight;
}

.image-uploader-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.image-uploader-primary-notice {
  font-size: 14px;
  color: var(--gray-medium);
  margin-bottom: 40px;
}

.image-uploader-secondary-notice {
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-light);
  margin-bottom: 20px;
}

.image-uploader-error-notice {
  font-size: 14px;
  color: red;
  margin-top: 20px;
}

.image-uploader-drop-area {
  position: relative;
  padding: 40px;
  border: 2px dashed var(--blue-medium);
  border-radius: 12px;
  background: var(--blue-light);
  margin-bottom: 20px;
  transition: border 0.3s;
}

.image-uploader-drop-area.drag-over {
  border: 2px dashed var(--blue-dark);
}

.image-uploader-drop-area img {
  margin-bottom: 40px;
}

.image-uploader-drop-area .image-uploader-secondary-notice {
  margin-bottom: 0;
}

.image-uploader-input-file {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.image-uploader-button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--blue-dark);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  transition: background 0.3s;
  cursor: pointer;
}

.image-uploader-button:hover {
  background: var(--blue-medium);
}

@media (max-width: 445px) {
  .image-uploader {
    width: 90vw;
  }

  .image-uploader-title {
    font-size: 20px;
  }

  .image-uploader-primary-notice {
    font-size: 12px;
    color: var(--gray-medium);
    margin-bottom: 40px;
  }

  .image-uploader-secondary-notice,
  .image-uploader-button {
    font-size: 14px;
  }
}
